.body_2_container_1{
    position: relative;
    background: #434343;  
    /* background: #434343;   */
    height: 700px;
    width: 100%;
}

.body_2_background{
    position: absolute;
    height: 100%;
    width: 100%;
}

.body_2_container_1_title{
    position: absolute;
    /* background-color: rgb(1, 255, 255); */
    margin-top: 20px;

    font-size: 40px;
    font-weight: bold;
    color: #ffffff;

    left: 50%;
    transform: translate(-50%);
}

/* background-color: rgba(255, 0, 0, 0.5);  */
.body_2_container_1_c1{
    position: absolute;
    /* background-color: rgba(252, 252, 252, 0.3);    */
    background: linear-gradient(111deg, #434343, #5b5f64,#5b5f64, #5b5f64,#434343); 
    /* backdrop-filter: blur(3px);  */

    height: 550px;
    width: 1000px;
    
    
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;

    border-radius: 20px;
    /* border: 1px solid #8a8a8a; */

    box-shadow: 0 0px 55px rgba(0,0,0,.6),
    0 0px 55px rgba(0,0,0,.6);
    /* box-shadow: 0 0px 20px rgb(0, 255, 170); */

}

.body_2_container_1_c1_tag{
    position: absolute;
    /* background-color: blue; */
    width: 100px;
    height: 510px;

    margin-top: 19px;
    margin-left: -50px;
}

.body_2_container_1_c1_tag div{
    /* background-color: rgba(194, 194, 194, 0.6);  */
    background: linear-gradient(111deg, #979696, #7d8692,#979696, 0.5);   
    width: 65px;
    height: 65px;
    margin-top: 5px;
    margin-left: 17px;
    border: 1px solid #727272;
    border-radius: 15px;
    backdrop-filter: blur(3px); 
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    /* font-weight: bold; */
    font-size: 12px;
}
.body_2_container_1_c1_tag div:hover{
    cursor: pointer;
    background: linear-gradient(111deg, #686868, #404246,#686868);  
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*로드스타 프로젝트*/
.loadstar_container{
    /* background-color: aqua; */
    width: 900px;
    height: 500px;
    margin-top: 30px;
    margin-left: 65px;
}
.loadstar_container_img{
    /* background-color: #ffffff; */
    height: 300px;
    width: 300px;
    margin-top: 25px;
    margin-left: 285px;
    
}
.project_background{
    width: 100%;
    height: 100%;
}
.loadstar_container_discription1{
    /* background-color: #ffffff; */
    height: 20px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-weight: bold;
    margin-left: 105px;
    margin-top: 20px;
    text-align: center;
}
.loadstar_container_discription2{
    /* background-color: #ffffff; */
    height: 20px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-weight: bold;
    margin-left: 100px;
}

.loadstar_container_stacks{
    background-color: rgba(45, 45, 45, 0.7);    
    height: 30px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 285px;
    border-radius: 10px;
    margin-top: 15px;
}

.loadstar_container_stacks div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    
}
.loadstar_container_search_container{
    background-color: black;
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    
    margin-left: 385px;
    margin-top: 20px;
}
.loadstar_container_search_container:hover{
    cursor: pointer;
    background-color: rgb(68, 68, 68);
}
.loadstar_container_search_container img{
    height: 17px;
    width: 17px;
    margin-top: 6px;
}
.loadstar_container_search_container_text{
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 4px;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*블로커 프로젝트*/
.blocker_container_discription2{
    /* background-color: #7a2727; */
    height: 20px;
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-weight: bold;
    margin-left: 70px;
}