.body_container_1{
    /* background-color: rgb(118, 214, 214); */
    height: 600px;
    width: 100%;
    display: flex;
}
.body_container_1_c1{
    /* background-color: rgb(40, 10, 173); */
    height: 100%;
    width: 30%;
}

.body_container_1_c1_img_container{
    position: relative;

    background: #434343;
    height: 300px;
    width: 300px;
    margin-top: 160px;
    margin-left: 60px;
    padding: 10px;
    border-radius: 20px;
    

}

.body_container_1_c1_img_container_hole{
    position: relative;
    background: #ffffff;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body_container_1_c1_img_container_hat1{
    position: absolute;
    background: #ffffff;
    height: 20px;
    width: 240px;
    margin-top: -20px;
    margin-left: 30px;
}
.body_container_1_c1_img_container_hat2{
    position: absolute;
    background: #ffffff;
    height: 20px;
    width: 240px;
    margin-top: 300px;
    margin-left: 30px;
}
.body_container_1_c1_img_container_hat3{
    position: absolute;
    background: #ffffff;
    height: 240px;
    width: 20px;
    margin-top: 30px;
    margin-left: -20px;
}
.body_container_1_c1_img_container_hat4{
    position: absolute;
    background: #ffffff;
    height: 240px;
    width: 20px;
    margin-top: 30px;
    margin-left: 300px;
}

.body_container_1_c1_img_container_img{
    position: absolute;
    height: 280px;
    width: 280px;
    border-radius: 12px;
}

.body_container_1_c2{
    /* background-color: rgb(21, 246, 133); */
    height: 100%;
    width: 70%;
    margin-top: 50px;
}

.body_container_1_c2_title{
    /* background-color: rgb(192, 236, 213); */
    height: 150px;
    width: 100%;

    font-size: 45px;
    font-weight:550;
    color: #919191;
}
.body_container_1_c2_title_1{
    /* background-color: rgb(23, 152, 85); */
    height: 70px;
    width: 520px;
    margin-top: 70px;
    margin-left: 210px;
}
.title_point_1{
    color : #434343;
    font-size: 50px;
    font-weight:700;
}
.body_container_1_c2_title_2{
    /* background-color: rgb(42, 84, 62); */
    height: 70px;
    width: 750px;
    margin-left: 80px;
}
.title_point_2{
    color : #434343;
    font-size: 50px;
    font-weight:700;
}

.body_container_1_c2_contents{
    /* background-color: rgb(155, 212, 34); */
    height: 330px;
    width: 820px;
    padding: 10px;
}

/*1줄*/
.body_container_1_c2_contents_1{
    /* background-color: rgb(79, 136, 241); */
    height: 80px;
    width: 100%;
}

.body_container_1_c2_contents_1_tag_content{
    background: #434343;
    height: 50px;
    width: 430px;
    display: flex;
    padding: 10px;
    margin-top: 10px;
    margin-left: 380px;
    border-radius: 15px 0px 0px 15px;
    box-shadow: -5px 5px 10px 0 rgb(0, 0, 0);

}

.body_container_1_c2_contents_1_tag_title{

    height: 30px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-left: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.body_container_1_c2_contents_1_tag_content img{
    margin-top: 1px;
    height: 50px;
    width: 51px;
    margin-left: 30px;
}

/*2줄*/
.body_container_1_c2_contents_2{
    /* background-color: rgb(79, 136, 241); */
    height: 80px;
    width: 100%;
}

.body_container_1_c2_contents_2_tag_content{
    background: #434343;
    height: 50px;
    width: 370px;
    display: flex;
    padding: 10px;
    margin-left: 440px;
    border-radius: 15px 0px 0px 15px;
    box-shadow: -5px 5px 10px 0 rgb(0, 0, 0);

}

.body_container_1_c2_contents_2_tag_title{
    height: 30px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-left: 30px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.body_container_1_c2_contents_2_tag_content img{
    margin-top: 1px;
    height: 50px;
    width: 51px;
    margin-left: 30px;
    cursor: pointer;
}
.body_container_1_c2_contents_2_tag_content img:hover{
    filter: brightness(10%);
}
/*3줄*/
.body_container_1_c2_contents_3{
    /* background-color: rgb(79, 136, 241); */
    height: 80px;
    width: 100%;
}

.body_container_1_c2_contents_3_tag_content{
    background: #434343;
    height: 50px;
    width: 700px;
    display: flex;
    padding: 10px;
    border-radius: 15px 0px 0px 15px;
    box-shadow: -5px 5px 10px 0 rgb(0, 0, 0);
    margin-left: 110px;

}

.body_container_1_c2_contents_3_tag_content div{
    
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-left: 30px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}