.body_3_container_1{
    position: relative;
    background: #ffffff;  
    /* background: #434343;   */
    height: 700px;
    width: 100%;
    display: flex;
}

.body_3_computerscience{
    /* background: #69d615;   */
    /* backgrounrgb(73, 219, 20)343;   */
    height: 100%;
    width: 50%;
}

.body_3_computerscience_cover{
    position: absolute;
    background: #434343;  
    /* backgrounrgb(73, 219, 20)343;   */
    height: 600px;
    width: 490px;

    margin-top: 50px;
    margin-left: 55px;
    border-radius: 20px;

    opacity: 1; /* 초기 투명도 설정 */
    transition: opacity 0.3s ease; /* 애니메이션 효과를 부드럽게 만들기 위한 transition 속성 */
}
.body_3_computerscience_cover:hover{
    opacity: 0; /* hover 시 투명도 변경 */
    z-index: 0;
}

.body_3_computerscience_container{
    background: #b1dbd1;  
    /* backgrounrgb(73, 219, 20)343;   */
    height: 600px;
    width: 490px;

    margin-top: 50px;
    margin-left: 55px;
    box-shadow: 0 0px 100px rgba(0,0,0);
    border-radius: 20px;
}

.body_3_computerscience_container_img{
    position: absolute;
    background: #417367;  
    /* backgrounrgb(73, 219, 20)343;   */
    height: 250px;
    width: 250px;
    border-radius: 50%;

    margin-top: 50px;
    margin-left: 120px;
}
.body_3_computerscience_container_text1{
    position: absolute;
    /* background-color: #434343; */
    width: 490px;
    top:10%;
    margin-top: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}
.body_3_computerscience_container_text2{
    position: absolute;
    /* background-color: #434343; */
    width: 490px;
    top:10%;
    margin-top: 355px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}
.body_3_computerscience_container_text3{
    position: absolute;
    /* background-color: #434343; */
    width: 490px;
    top:10%;
    margin-top: 380px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}
.body_3_computerscience_container_text4{
    position: absolute;
    /* background-color: #434343; */
    width: 490px;
    top:10%;
    margin-top: 405px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.body_3_computerscience_container_btn{
    position: absolute;
    background-color: #434343;
    height: 50px;
    width: 200px;
    margin-top: 500px;
    margin-left: 140px;

    border-radius: 20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}